.brand-logo {
  align-items: center;
  display: inline-flex !important;
  /* Add a padding on medium and up screen */
}

.brand-logo img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  width: 30px;
  margin-left: 12px;
}

@media screen and (min-width: 600px) {
  .brand-logo {
    margin-left: 15px;
  }
}

#login-card {
  display: inline-flex;
  transition: all 1s ease-out;
}

.card-wrapper {
  margin-top: 35px;
}

.container {
  margin-top: 2rem;
}

nav ul a {
  display: inline-flex;
}

nav ul a i.material-icons {
  margin-left: 10px;
}

#time-wrapper {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.btn-wrapper {
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .btn-wrapper {
    display: block;
    float: none !important;
  }
}

.btn-wrapper button {
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .btn-wrapper button {
    margin-bottom: 12px;
    width: 100%;
    justify-content: center;
  }
}

.btn-wrapper button i.material-icons {
  margin-right: 10px;
  margin-left: -10px;
}

#time-heading {
  font-size: 50px;
  margin-top: 0px;
  color: #b3b3b3;
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  #time-heading {
    display: none;
  }
}

#time-display {
  font-size: 6.8rem;
  color: #6f6f6f;
  transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
  #time-display {
    font-size: 5rem;
  }
}

#logs-heading {
  margin-top: 5rem;
  color: #5a5858;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logs-heading i.material-icons {
  font-size: 4rem;
  margin-left: 1rem;
}

.project-group {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}

.project-group h4 {
  font-size: 2rem;
  color: #5a5a5a;
}

@media screen and (max-width: 600px) {
  .project-group h4 {
    font-size: 2rem;
  }
}

.project-link {
  display: inline-flex;
  margin-left: auto;
}

.heading-wrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.collapsible-header {
  display: flex;
  align-items: center;
}

.collapsible-header span.time-info {
  display: inline-flex;
  margin-left: auto;
}

.img-log-wrapper {
  max-width: 50px;
  margin-right: 15px;
}

.img-log-wrapper img {
  width: 100%;
}

#stop-form {
  padding: 0px 20px 0px 20px;
}

.stop-btn {
  float: right;
}
/*# sourceMappingURL=style.css.map */